@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css");

body {
    background-color: #000;
    color: #666;
}

#brand-img {
    max-width: 340px;
    height: auto;
    margin-bottom: 2rem;
}
header {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 0%;
    text-align: center;
    transform: translate(0%, -50%);
}
